<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @result.name %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @result.likes %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
